*{
  margin: 0;
  padding: 0;
}
.leftcolumn{
  /* text-align: center; */
  /* padding: 10px; */
  width: 70%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.rightcolumn{
  width: 30%;
  float: left;

}

.Clicker{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.count{
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-size: 10.8em;
}

.images{
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255,0,0) dashed 1px;
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;
}
@media screen and (max-width:800px){
.images{
  width: 100%;
}
}



.row:after{
  content: "";
  display: table;
  clear: both;
}

.headings{
  text-align: center;
}
