*{
  margin: 0;
  padding: 0;
}
.leftcolumn{
  width: 70%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body{
  background-color: aliceblue;
}
@media  screen and (max-width:700px) {
  .leftcolumn{
    width: 100%;
  }
  .rightcolumn{
    width: 100%;
    margin-left: 30%;
  }
  .insert{
    width: 60%;
  }

}


.rightcolumn{
  width: 30%;
  float: left;

}

#admin{
  margin-top: 30%;
}
.insert{
  display: block;
  padding:10px;
  margin: 3%;
  border-radius: 7%;
  width: 60%;
}
.count{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1000%;
  color: brown;
   /* box-shadow: 20px 20px 50px 15px cornflowerblue; */
}

#images{
  transform: none;
  transition: all 0s ease 0s;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 5%;
  width: 70%;
}
@media screen and (max-width:800px){
.images{
  width: 100%;
}
}


.headings{
  text-align: center;
}

#form{
  margin-top: 20px;
}

.list{
  text-align:center;
  cursor:pointer;
   display:inline-block;
   text-decoration:none;
   margin-left:5%;
   /* padding: 3px; */
   /* border: solid #2A457A; */
   font-size: 30px;
   margin-top: 50px;
}
.list:hover{
 color: cornflowerblue;
}
.button{
  width: 5rem;
  background-color: cornflowerblue;
  cursor: pointer;
}

.click{
  background-color: cornflowerblue
}
